<nav class="navbar navbar-expand-lg navbar-light bg-light width: 100%">
    <div class="container">
        <a class="navbar-brand" href="/members" id="logo">Foodie<span><img class="donut" src ="images/donut-with-sprinkles.png"</span>Book</a>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
				<a class="nav-link" href="/rant">Rant</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/my-rants">View my Rants</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/all-rants">View all Rants</a>
			</li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container extra-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 style="margin-top: 5px; text-align: center; color: white;">Welcome <span class="member-name"></span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 style="margin-bottom: 20px;color: white;" class="text-center" > What would you like to do today?</h3>
            </div>
            <div class="row justify-content-md-center" style="margin-top: 50px;">
                <div class="col-md">
                <button type="button" id="rant-btn">Rant!</button>
                <br>
                <i class="fas fa-bullhorn icon-members"></i>                
                </div>
                <div class="vl col-md-1"></div>
                <div class="col-md">
                <button type="button" id="my-rants-btn">View my Rants</button>
                <br>
                <i class="fas fa-glasses icon-members"></i>                
                </div>
                <div class="vl col-md-1"></div>
                <div class="col-md">
                <button type="button" id="all-rants-btn">View all Rants</button>
                <br>
                <i class="fas fa-people-arrows icon-members"></i>
                </div>
            </div>
        </div>
    
</div>

    {{!-- <div class="row">
        <div class="col">
                <div class="row">
                <div class="col">
                <i class="fas fa-bullhorn"></i>                
                </div>
                <div class="col">
                <i class="fas fa-glasses"></i>                
                </div>
                <div class="col">
                    <i class="fas fa-people-arrows"></i>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/members.js"></script>    
