<nav class="navbar navbar-expand-lg navbar-light bg-light width: 100%">
  <div class="container">
    <a class="navbar-brand" href="/members" id="logo">FoodieBook</a>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/rant">Rant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-rants">Review/Update previous Rant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all-rants">Peruse other's Rants</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
  </div>
</nav>



<div class="container blog-container">
    <div class="row">
        <h1>MY RANTS</h1>
        <div class="rants">
        </div>
    </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/my-rants.js"></script>