<nav class="navbar navbar-expand-lg navbar-light bg-light width: 100%">
  <div class="container">
    <a class="navbar-brand" href="/members" id="logo">FoodieBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/rant">Rant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/review-rants">Review/Update previous Rant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view-others">Peruse other's Rants</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/members">Home</a>
        </li>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <div class="row">
			<div class="col-md-6 offset-md-3">
				<form class="rant-form">
					<div class="form-group">
						<label for="restaurant-name">Who are we ranting about?</label>
						<input placeholder="Dairy Queen" type="text" class="form-control" id="restaurant-name">
						<br />
						<label for="body">What's your rant?</label>
						<textarea class="form-control" rows="10" id="body"></textarea>
						<div class="form-group">
							<label for="rating">Select Rating:</label>
							<select class="custom-select" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
  						</select>
						</div>
						<br />
						<button type="submit" class="btn btn-success submit" id="submit-btn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/rant.js"></script>