<nav class="navbar navbar-expand-lg navbar-light bg-light width: 100%">
	<div class="container">
        <a class="navbar-brand" href="/members" id="logo">Foodie<span><img class="donut" src ="images/donut-with-sprinkles.png"</span>Book</a>
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="/rant">Rant</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/my-rants">View my Rants</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/all-rants">View all Rants</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<h1 style="margin-top: -50px color: white;">RANT</h1>
		<div class="col-md-6 offset-md-3">
			<form style="margin-top: 20px; height: 510px; width: 1200px; margin-left: -445px;" class="rant-form">
				<div class="form-group">
					<label for="restaurant-name" style="font-size: 30px; text-align: left">Who are we ranting about?</label>
					<input placeholder="Restaurant name" type="text" class="form-control" id="restaurant-name">
					{{!-- <br /> --}}
					<label style="font-size: 30px; text-align: left" for="body">What's your rant?</label>
					<textarea placeholder="Rant here..." class="form-control" rows="10" id="body"></textarea>
					<div class="form-group">
						<label for="rating" style="text-align: center;">Select Rating:</label>
						<select class="custom-select" id="rating" style="margin-top: 10px;">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</div>
					<br />
					<button style="background-color: #00BFFF; color:black" type="submit" class="btn btn-success submit" id="submit-btn">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/rant.js"></script>