form.signup,
form.login {
    margin-top: 50px;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 15px;
    margin-left: 10px;
}

/* button.edit {
    margin-left: 1200px;
    margin-top: -70px;
} */